<app-header></app-header>
<div class="container-fluid allBg">
  <div class="row">
    <app-sidebar id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"></app-sidebar>
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ title }}!</h1>
      </div>
      <div class="toDoBox">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
