<app-header></app-header>
<div class="container-fluid allBg">
  <div class="row">
    <app-sidebar id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"></app-sidebar>
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ title }}!</h1>
      </div>
      <div>
        <div id="left_empty">
          <h1> DIV 1</h1>
        </div>
        <div id="mid_box">
          <app-startbox></app-startbox>
          <!-- <h2>Resources</h2>
          <p>Here are some links to help you get started:</p>
          <h2>Next Steps</h2>
          <p>What do you want to do next with your app?</p>
          <input type="hidden" #selection>
          <div class="card-container">
            <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
              </svg>
              <span>Button</span>
            </button>
          </div> -->
        </div>
        <div id="right_empty">
          <h1> DIV 3</h1>
        </div>
      </div>
    </div>
  </div>

</div>
  <router-outlet></router-outlet>