<div id="specialDiv">
  <h2>What are you going to do today ?</h2>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="What would you like to do today ?" 
    aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">TO-DO</button>
    </div>
  </div>
  <div class="list-group">
    <label class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="">
      First checkbox
    </label>
    <label class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="">
      Second checkbox
    </label>
    <label class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="">
      Third checkbox
    </label>
    <label class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="">
      Fourth checkbox
    </label>
    <label class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="">
      Fifth checkbox
    </label>
  </div>
</div>