.specialDiv{
  border: 1px solid #00ffea;
  border-radius: 10px; 
  background-color: #ffffff;
  }

h2 {
  margin: 8px 0;
  text-align: center;
  margin-top: 20px;
  }

.form-group{
  margin: 12px 12px 0px 0px;
}

label{
  background-color: #ffffff;
  font-weight: bold;
  margin: 5px;
  border-radius: 10px;
}

button{
  color: #008a77;
  
}

.badge{
  color: #008a77;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 1;
  border-color: #6200EA;
  transition: all .2s;
}

.container{
  padding-right: 0px;
}

.widget-heading{
  font-weight: bold;
  font-size: 15px;
}

.widget-subheading {
  color: #000000;
  font-size: 14px;  
}

.scroll-area-sm {
  height: 280px;
  margin-top: 12px;
  overflow-x: hidden;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125)
}

.todo-indicator {
  position: absolute;
  width: 4px;
  height: 60%;
  border-radius: 0.3rem;
  left: 0.625rem;
  top: 20%;
  opacity: .6;
  transition: opacity .2s
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center
}

.widget-content .widget-content-right.widget-content-actions {
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s
}

.widget-content .widget-content-right {
  margin-left: auto
}

.btn-outline-secondary{
  border-radius: 5px;
}

.btn-outline-success {
  color: #3ac47d;
  border-color: #3ac47d
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #3ac47d;
  border-color: #3ac47d
}



.card-footer {
  background-color: #fff
}

.someCancelStyle{
  text-decoration: underline;
}

form {
  /* This bit sets up the horizontal layout */
  border-radius: 10px;
  margin-left: 12px;
  flex-direction:row;
  width: 700px;
  /* This bit draws the box around it */
}
